@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --first-color:#0f0e0e;
  --second-color:#e30349;
  --third-color: #f6f1f1;

color: var(--third-color);
box-sizing: border-box;
}

body {
  background-color: var(--first-color);
}


.mainApp{
@apply flex h-full absolute h-[90%] w-[100%]
}